[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
protobuf = "*"
nanopb = "*"
click = "*"
trezor = "*"
mako = "*"
munch = "*"

[dev-packages]

[requires]
python_version = "3.6"
